<div class="container" style="background-color:white;">
    <!-- <section class="our_client">
      <h4 class="title"><span class="text">Manufactures</span></h4>
      <div class="row">
        <div class="span3">
          <img alt="" src="/themes/images/clients/14.png">
        </div>
        <div class="span2">
          <img alt="" src="/themes/images/clients/35.png">
        </div>
        <div class="span2">
          <img alt="" src="/themes/images/clients/1.png">
        </div>
        <div class="span2">
          <img alt="" src="/themes/images/clients/2.png">
        </div>
        <div class="span2">
          <img alt="" src="/themes/images/clients/3.png">
        </div>
    </section>!-->

  <section id="footer-bar">
    <div class="row">
      <div class="span3">
        <h4>Navigation</h4>
        <ul class="nav">
          <li><a href="/">Homepage</a></li>
          <li><a href="/contactus">Contact Us</a></li>
        </ul>
      </div>
      <div class="span4">
        <h4>My Account</h4>
        <ul class="nav">
          <li><a {{# if login}} href="/user/profile" {{else}} href="/user/signin" {{/if}}>My Account</a></li>
          <li><a {{# if login}} href="/user/profile" {{else}} href="/user/signin" {{/if}}>Order History</a></li>
          <li><a {{# if login}} href="/shopping-cart/" {{else}} href="/user/signin" {{/if}}>Cart</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section id="copyright">
    <span>Copyright 2018 HABA SHOESWEAR</span>
  </section>
</div>
