<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="/product/inputBarang" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="email">Nama Barang</label>
                <input type="text" id="namaBrg" name="namaBrg" class="form-control">
            </div>
            <div class="form-group">
                <label for="pass">Stock</label>
                <input type="number" id="stock" name="stock" class="form-control">
            </div>
            <div class="form-group">
                <label>Gender</label><br>
                <label class="radio-inline"><input type="radio" name="gender" value="Man" checked>Man</label>
                <label class="radio-inline"><input type="radio" name="gender" value="Woman">Woman</label>
            </div>
            <div class="form-group">
                <label>Brand</label>
                <input type="text" id="brand" name="brand" class="form-control">
            </div>
            <div class="form-group">
                <label for="size">Size</label><br>
                <label class="checkbox-inline">
                    <input type="checkbox" name="size" value="37">35
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="size" value="40">40
                </label>
                <br>
                <label class="checkbox-inline">
                    <input type="checkbox" name="size" value="36">36
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="size" value="41">41
                </label>
                <br>
                <label class="checkbox-inline">
                    <input type="checkbox" name="size" value="37">37
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="size" value="42">42
                </label>
                <br>
                <label class="checkbox-inline">
                    <input type="checkbox" name="size" value="38">38
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="size" value="43">43
                </label>
                <br>
                <label class="checkbox-inline">
                    <input type="checkbox" name="size" value="39">39
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="size" value="44">44
                </label>
                <br>
            </div>
            <div class="form-group">
                <input type="file" name="productImage" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Tambah Barang</button>
        </form>
    </div>
</div>
