<div class="container" style="background-color:white;margin-top:-20px;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {{#each orders}}
          {{#each this.rek}}
          <h5>{{this.nama_rek}}</h5>
          <h5>{{this.bank}}</h5>
          <h5>{{this.no_rek}}</h5>
            <img class="img-responsive rounded mx-auto d-block" style="width:100px;" src="../../{{this.imagePath}}">
          {{/each}}
          {{/each}}
        </div>
    </div>
</div>
