<div class="container" style="background-color:white;margin-top:-20px;">
    <div class="row">
      <section class="header_text">
              <h2>Add New banner</h2>
      </section>

        <div class="col-md-4 col-md-offset-4">
            {{!-- kalau ada error --}}
            <div class="alert alert-danger {{#if hasErrors}}hidden{{/if}}">
                <center><p>{{messages}}</p></center>
            </div>

            <form action="/product/inputBarang" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea name="desc" id="desc" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="file" name="productImage" accept="image/*" required>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Add New Banner</button>
            </form>
        </div>
    </div>
</div>